/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* changa-one-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Changa One';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/changa-one-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fdfffc;
    color: #011627;
    font-size: 100%;
    line-height: 1.4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Changa One', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: .75em;
}

p {
    line-height: 1.5;
}

a {
    color: #e71d36;
    text-decoration: none;
}

header {
    text-align: center;
    background-color: #011627;
    padding-top: 5px;
    margin-bottom: 30px;
}

.nom {
    font-family: 'Changa One', sans-serif;
    font-size: 1.75rem;
    line-height: 0.8;
    margin: 1rem 0;
    color: #2ec4b6;
}

.metier {
    margin-top: -5px;
    font-family: "Changa One", sans-serif;
}

header nav {
    padding: 10px 0;
    margin-top: 20px;
}

header nav a[href="index.html"] {
    display: none;
}

header nav ul {
    padding: 0;
    margin: 0 10px;
}

header nav ul li {
    list-style: none;
    padding: 0;
    display: inline-block;
}

header nav ul li a {
    font-weight: 400;
    font-family: "Changa One", sans-serif;
    margin: 0 30px;
    padding: 15px 10px;
    color: #fdfffc;
}

header nav ul li a:hover {
    color: #2ec4b6;
}

main {
    margin: 0 5%;
}

footer {
    margin-top: 50px;
    text-align: center;
}

footer nav li {
    list-style : none;
    padding: 0;
    display: inline-block;
}

footer nav li a img {
    width: 50px;
    margin: 0 30px;
    filter: grayscale(1);
}

footer nav li a img:hover {
    filter: grayscale(0);
    transition: filter 500ms linear;
}

footer nav ul {
    padding-inline-start: 0;
}

.active {
    color: #2ec4b6;
}

.page-infos h1 {
    text-align: center;
}

.profil {
    max-width: 100%;
    width: 150px;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
}

.contact-info {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

.contact-info li a {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 0 2px;
    padding-left: 30px;
}

.contact-info li a[href^="mailto:"] {
    background-image: url('../images/mail.png')
}

.contact-info li a[href^="tel:"] {
    background-image: url('../img/phone.png')
}


.contact-info li a[href^="https://facebook.com"] {
    background-image: url('../img/facebook.png')
}


.contact-info li a[href^="https://twitter.com"] {
    background-image: url('../img/twitter.png')
}

.contact-info li {
    margin-bottom: .5em;
}

img {
    max-width: 100%;
    height: auto;
}

.page-index h1 {
    text-align: center; /* Centrage du titre */
}

